@model IEnumerable<OdeToFood.Models.Restaurant>
@{
    ViewData["Title"] = "Index";
}

<h1>Reviews for Restaurant @Model.Name</h1>


<partial name="_Reviews" model="@Model.Reviews"></partial>


<p>
    <a asp-action="Create">Create New</a>
</p>

