@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{ ViewData["Title"] = "Reviews"; }

@section featured{
    We are showing the latest and greatest reviews

}
<h1>Reviews</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <partial name="_review" model="item" />

}
        
