@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{ ViewData["Title"] = "Reviews"; }
<h1>Reviews</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
<div class="review">
    <h4>@item.Name</h4>
    <span>@item.Rating</span>
    <p>@item.City, @item.Country</p>
</div>}

