@model IEnumerable<Restaurant>
@{
    ViewData["Title"] = "Home Page";
}
@*
@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <h4>@item.City, @item.Country</h4>
        <hr />
    </div>
}
    *@
